:root {
	--mint: #adebb3;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: sans-serif;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 1000px;

}

h1 {
	text-align: center;
	font-size: 2rem;
}

.panel{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(13 ,1fr);
	gap: 10px 20px;
	grid-auto-flow: column;
	padding: 0.5em;

	&-item{
		padding: 0.5em 1em;
		border-radius: 8px;
		text-align: center;
		background-color: #fff;
		cursor: pointer;
		transition: background-color .3s;

		&:hover {
			background-color: var(--mint);
		}
	}
}

.items {
	margin: 2em;
	padding: 2em;
	border: 2px solid black;

	& li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 2em;
		text-align: left;
		list-style: none;

		& hr{
			width: 100%;
		}
	}
}

.controls {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 2em;
	background-color: #fff;

	& input {
		margin: 0.5em 2em 2em;
	}

	&-extra {
		padding: 1em;
	}

	&-btns {
		display: flex;
		justify-content: space-evenly;
	}

	&-btn {
		padding: 10px 22px;
		border: none;
		border-radius: 8px;
		background-color: var(--mint);
        cursor: pointer;
	}
}

.summary {
	display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;

	&-calculate {
        margin-bottom: 2em;
		padding: 1em 1em;
		border: none;
		border-radius: 8px;
		background-color: var(--mint);
		cursor: pointer;
	}
}

.popup-list{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vh;
    height: 80vh;
    color: #333;
    background-color: #fff;

	& label {
		margin-bottom: 1em;
		font-size: 2rem;
	}

	& select{
		margin-bottom: 2em;
		padding: 1em 2em;
		font-size: 1.5rem;
	}

	&-button{
		padding: 1em 2em;
		font-size: 1.5rem;

		border: none;
		border-radius: 8px;
		cursor: pointer;
	}

	&-visible{
		display: flex;
	}
}
